body {
  font-size: 20px;
  background-color: #ffffff;
  margin: 0 auto;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  align-items: center;
}

.theme {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.calc {
  background-color: #f8f8ff;
  width: 360px;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.calc-display-input {
  width: 335px;
  height: 60px;
  margin: 20px 0;
  border-radius: 25px;
  background-color: #e9eff5;
  color: #26282f;
  text-align: right;
  font-size: 35px;
  padding: 10px;
}
.calc_button-row td {
  margin: 0 auto;
  padding: 5px;
}
.btn {
  width: 60px;
  height: 60px;
  font-size: 27px;
  color: #26282f;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 0;
  cursor: pointer;
  transition: 0.1s all;
}

#neg-btn {
  width: 60px;
  height: 60px;
  font-size: 27px;
  color: #26282f;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 0;
  cursor: pointer;
  transition: 0.1s all;
}

.clear-btn {
  background-color: #d8bfd8;
  opacity: 0.8;
  width: 130px;
}

.btn-hover-clear-btn:hover {
  background-color: #d8bfd8;
  opacity: 1;
  color: #e3e2e7;
}
.operator,
#neg-btn {
  background-color: #b0c4de;
  opacity: 0.8;
}
.btn-hover-operators:hover,
#neg-btn:hover {
  background-color: #b0c4de;
  opacity: 1;
  color: #e3e2e7;
}
.number,
#decimal {
  background-color: #26282f;
  color: #e6e6fa;
  opacity: 0.8;
}
.btn-hover-num:hover,
#decimal:hover {
  background-color: #30333f;
  color: #9dc0ed;
}
.btn:active {
  transform: translateY(-1px);
}
.btn-long {
  width: 130px;
  height: 60px;
}

.btn-equal {
  width: 130px;
}

input,
button {
  padding: 5px 15px;
  margin: 10px;
  border: 0;
  outline: 0;
  border-radius: 4px;
}
button {
  margin-left: 0;
  padding: 15px 24px;
}

.change-theme {
    width: 30px;
    height: 30px;
  }

@media screen and (max-width: 768px) {
  .calc {
    width: 300px;
  }
  .calc-display-input {
    width: 285px;
    height: 45px;
  }
  input[placeholder] {
    font-size: 28px;
  }
  input::-moz-placeholder {
    font-size: 28px;
  }
  input:-moz-placeholder {
    font-size: 28px;
  }
  input:-ms-input-placeholder {
    font-size: 28px;
  }
  .btn {
    width: 50px;
    height: 50px;
    font-size: 22px;
  }
  .btn-long {
    width: 110px;
    height: 50px;
  }
  .clear-btn {
  width: 110px;
  }
  #neg-btn {
    width: 50px;
    height: 50px;
    font-size: 22px;
  }
  
  .btn-long {
    width: 110px;
    height: 50px;
  }

  .btn-equal {
    width: 110px;
  }

  .change-theme {
    width: 30px;
    height: 30px;
  }

@media  (max-width: 400px) {
  .calc {
    width: 260px;
  }
  .calc-display-input {
    width: 240px;
    height: 40px;
  }
  input[placeholder] {
    font-size: 24px;
  }
  input::-moz-placeholder {
    font-size: 24px;
  }
  input:-moz-placeholder {
    font-size: 24px;
  }
  input:-ms-input-placeholder {
    font-size: 24px;
  }
  .btn {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  .btn-long {
    width: 90px;
    height: 40px;
  }
 .clear-btn {
  width: 90px;
}
  #neg-btn {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  
  .btn-long {
    width: 90px;
    height: 40px;
  }

  .btn-equal {
    width: 90px;
  }

  .change-theme {
    width: 20px;
    height: 20px;
  }
}

  .change-theme[data-theme="dark"] {
  display: block;
}

.change-theme[data-theme="light"] {
  display: none;
}