body {
  background-color: #171717;
}

.theme {
  background-color: #1b1a1f;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.calc {
  background-color: #1b1a1f;

  box-shadow: 0 0 10px rgba(63, 63, 63, 0.3);
}
.calc-display-input {
  background-color: #26282f;
  color: #e3e2e7;
}
.btn {
  color: #171717;
}

#neg-btn {
  color: #171717;
}

.clear-btn {
  background-color: #d8bfd8;
}

.btn-hover-clear-btn:hover {
  background-color: #d8bfd8;
  opacity: 0.8;
  color: #f2f2f2;
}
.operator,
#neg-btn {
  background-color: #b0c4de;
}
.btn-hover-operators:hover,
#neg-btn:hover {
  background-color: #b0c4de;
  opacity: 0.8;
  color: #f2f2f2;
}
.number,
#decimal {
  background-color: #26282f;
  color: #e6e6fa;
  opacity: 0.8;
}
.btn-hover-num:hover,
#decimal:hover {
  background-color: #30333f;
  color: #b0c4de;
}

.change-theme[data-theme="dark"] {
  display: none;
}

.change-theme[data-theme="light"] {
  display: block;
}

.footer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  flex-direction: column;
  color: #b0c4de;
  bottom: 0;
  width: 100%;
  height: 80px;
  position: fixed;
  opacity: 0.8;
}

.links {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.link {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
}

.github_link {
  background-image: url("../src/svg/github.svg");
}

.linkedin_link {
  background-image: url("../src/svg/linkedin.svg");
}

.instagram_link {
  background-image: url("../src/svg/instagram.svg");
}
